/* 
	font - "DIN Next LT Pro" 
	font-weight - 300: light, 400: regular, 600: medium, 700: bold
*/

@font-face {
	font-family: 'DIN';
	font-weight: 300;
	src: url('./dinnextltpro-light.otf');
	font-display: swap;
}
@font-face {
	font-family: 'DIN';
	font-weight: 400;
	src: url('./dinnextltpro-regular.otf');
	font-display: swap;
}
@font-face {
	font-family: 'DIN';
	font-weight: 600;
	src: url('./dinnextltpro-medium.otf');
	font-display: swap;
}
@font-face {
	font-family: 'DIN';
	font-weight: 700;
	src: url('./dinnextltpro-bold.otf');
	font-display: swap;
}

html, html * { 
    font-family: "DIN", sans-serif;
}

a {
    color: #F15255;
}

h1 {
    color: #3a2557;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
}

h2 {
    color: #f15254;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0;
    margin-bottom: 2rem;
    padding-top: 1.5rem;
}

div .sub-element::before {
    font-weight:bold;
    content:"Sub Element:";
}

div .sub-element {
    background-color:#fafafa;
    padding:5px;
    margin:5px;
    border-radius:5px;
}

.devon-small-code {
    font-size: 0.75em;
    white-space: pre-wrap;
}

code {
    color: #e83e8c;
    word-break: break-word;
}

.devon-example::before {
    font-weight:bold;
    content:"Example:";
}

.devon-example {
    border-radius:5px;
    background-color:#eee;
    padding:8px;
    color:#4E82EA;
}

.demo-code {
    font-size: 0.5em;
    max-width:600px;
    max-height:350px;
    overflow-x: scroll;
    overflow-y: scroll;
    color:#4E82EA;
}

.devon-caption {
    width:70%;
    font-size:85%;
}

.gitlab_link img{
    width: 100px;
    height: 41px;
}

.sagan-quote {
    color: #BBB;
    font-style: italic; 
}